In [3]:
import pandas

# Kicker runtime test

In [4]:
ds = pandas.read_csv('kicker_runtime_split.csv', index_col=0, usecols=[0, 1])

In [5]:
ds['Period (ms)'].mean()

np.float64(0.4312237631154254)

In [6]:
ds['Period (ms)'].value_counts()

Period (ms)
0.0      361534
1.0      259749
8.0         144
108.0        65
10.0          7
4.0           1
11.0          1
Name: count, dtype: int64

In [8]:
ds['Period (ms)'].std()

np.float64(1.2116300491211025)

# Radio runtime test

In [9]:
ds = pandas.read_csv('radio_runtime_split.csv', index_col=0, usecols=[0, 1])

In [10]:
ds['Period (ms)'].mean()

np.float64(0.5892679974950217)

In [11]:
ds['Period (ms)'].std()

np.float64(1.652985451940019)

In [12]:
ds['Period (ms)'].value_counts()

Period (ms)
1.0      319477
0.0      248602
10.0        260
110.0       116
11.0         13
Name: count, dtype: int64

# Radio consistency test

In [44]:
ds = pandas.read_csv('radio_split.csv', index_col=0, usecols=[0, 1, 2, 3, 4], nrows=150000)
ds

              Coluna_2  Coluna_3  Coluna_4  Coluna_5
Coluna_1
09:29:45:320      1.01      1.01      1.01      10.0
09:29:45:320      1.01      1.01      1.01      10.0
09:29:45:325      1.01      1.01      1.01      10.0
09:29:45:325      1.01      1.01      1.01      10.0
09:29:45:331      1.01      1.01      1.01      10.0
...                ...       ...       ...       ...
09:35:56:063      1.01      1.01      1.01      10.0
09:35:56:063      1.01      1.01      1.01      10.0
09:35:56:063      1.01      1.01      1.01      10.0
09:35:56:063      1.01      1.01      1.01      10.0
09:35:56:063      1.01      1.01      1.01      10.0

[150000 rows x 4 columns]

In [45]:
count = ds['Coluna_2'].value_counts()
count

Coluna_2
1.0100      148836
1.0000         648
0.0000         185
10.0000         53
1.0110          51
1.1000          42
0.0100          37
101.0000        32
11.0000         24
10.1000         20
0.1010          20
0.0110          12
11.0100         11
1.1010           6
1.0010           6
0.1000           5
101.0100         2
10.0100          2
9.0000           2
0.1100           2
109.0000         1
0.1101           1
110.0000         1
1.0101           1
Name: count, dtype: int64

In [46]:
total = count[count.index != 1.01].sum()
total

np.int64(1164)

In [47]:
(total/150000)*100

np.float64(0.776)

In [54]:
count = ds['Coluna_5'].value_counts()
total = count[count.index != 10.00].sum()
(total/150000)*100

np.float64(1.432)

In [55]:
mask = ~((ds['Coluna_2'] == 1.01) & 
         (ds['Coluna_3'] == 1.01) & 
         (ds['Coluna_4'] == 1.01) & 
         (ds['Coluna_5'] == 10.00))
count = ds[mask].shape[0]
count

3133

In [56]:
(count/150000)*100

2.0886666666666667

# Serial consistency test

For this one the copy worked best but i kept the original for the timestamps

I created a local repo on git and did commits to get stats on the changes, the following image is the result of this

![commit diff](diff.png)

And then I did it again

![commit diff](diff2.png)

In [33]:
receiver = pandas.read_csv('receiver_sync_split copy.csv', index_col=0, usecols=[0, 1, 2, 3])
lines = receiver['Coluna_2'].count()
lines

np.int64(548196)

In [35]:
(24757/lines)*100

np.float64(4.516085487672292)

In [41]:
receiver = pandas.read_csv('sender_sync_split(1) (copy).csv', index_col=0, usecols=[0, 1, 2, 3])
lines = receiver['Coluna_2'].count()
lines

np.int64(586786)

In [43]:
(52508/lines)*100

np.float64(8.948407085376951)